body {
    font-family: lato, sans-serif;
}

h1 {
	font-size: 160%;
	font-weight: bold;
	color: maroon;
}

h2{
    font-size: 140%;
    font-family: courier;
}

h3{
    font-size: 110%;
}

h1, h2, h3, h4, h5, h6{
    /* line-height: 2em; */
}

p{
    line-height: 1.5em;
    margin-bottom: 20px;
}

.entry > p{
    margin-bottom: 0;
}

section, article {
    margin-bottom: 1em;
}

#main {
    margin-bottom: 100px;
}

#main > section.one {
    color: white;
    background-image: url("../../images/mme.png");
    height: 400px;
    text-align: center;
}

section.one h2, section.one p{
    line-height: 2em;
}

.side-icons{
    position: fixed;
    left: 0;
    height: 100%;
}

.side-icons > .icons{
    height: 100%;
    margin: auto 0;
    vertical-align: baseline;
}

@media screen and (max-width: 960px){
html, body {
    overflow-x: scroll;
}
}
